# Zucasa configuration file
# Comments are ignored

# Where to look for photos (*.jpg, *.png, *.gif)
basedir=/home/jonole/Pictures/zucasa-test/Lise
# Optional username (lower case, single word). Removing line means previous basedir is for all users.
username=lise

#basedir=/home/jonole/Pictures/zucasa-test/Jon\ Ole
#username=jonole

# Output directory -- WILL BE EMPTIED FOR EACH RELOAD
output=/home/jonole/tempcasa

# Thumbnails size (max height)
size=80
