# Zucasa configuration file
# Comments are ignored. Allowed keys are: location, user, size, months.

# Where to look for photos (*.jpg, *.png, *.gif)
location=/home/jonole/Pictures/zucasa-test/Lise

# Optional username (lower case, single word).
# Removing line means photos below previous directories are public (for all users).
user=lise

# Add as many location + user combinations as necessary
location=/home/jonole/Pictures/zucasa-test/Jon\ Ole
user=jonole

# Thumbnails size (max height)
size=80

# Where to split page. Default is 4 months.
months=4
