# Zucasa configuration file.
# Comments are ignored. Allowed keys are: location, user, size, months.
# File will be replaced when using /config from web interface.

# Add location + user pairs for each photo folder to import (recursively).
# If user is not set then 'public' will be used (photo are for all users).
# User should be single word lower-case string.
location=/home/jonole/Pictures/zucasa-test/Lise
user=lise

location=/home/jonole/Pictures/zucasa-test/Jon\ Ole
user=jonole

# Thumbnails size in pixels (max height).
size=80

# Where to split page (number of months).
months=4
