
/* Fonts */

@font-face {
    font-family: Lato;
    src: url("/static/Lato/Lato-Regular.ttf") format("opentype");
}

@font-face {
    font-family: Raleway;
    src: url("/static/Raleway/Raleway-Regular.ttf") format("opentype");
}

/* Variables */

body {
    --dark-color: #444;
    --light-color: lightgray;
    --accent-color: dodgerblue;
    font-family: Lato;
}

/* Main page */

#main {
    margin: 0;
}

.main-container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

/* Sidebar */

.sidebar {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    width: 200px;
    background-color: var(--dark-color);
    color: var(--light-color);
}

/* Dates */

.dates {
    flex: 3;
    height: auto;
    overflow: auto;
}

.dates ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dates ul ul {
    margin-top: 0.3em;
    padding-bottom: 0.2em;
}

.dates li {
    padding-left: 1em;
    margin-bottom: 0.3em;
}

.dates li.expanded:before {
    content: "\f107";
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1em;
    width: 1em;
}

.dates li.expanded ul {
    display: list-item;
}

.dates li.collapsed:before {
    content: "\f105";
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1em;
    width: 1em;
}

.dates li.collapsed ul {
    display: none;
}

.dates > ul > li > ul > li > ul > li.collapsed:before, .dates > ul > li > ul > li > ul > li.expanded:before {
    content: "\f133";
    padding-right: 2px;
}

.dates li a {
    color: var(--light-color);
    text-decoration: none;
}

/* Filters */

.filters {
    flex: 2;
    height: auto;
    overflow: auto;
    padding-bottom: 1.5em;
}

.filters .header {
    padding-top: 0.8em;
    padding-bottom: 0.2em;
    font-size: smaller;
    font-weight: bold;
}

.users, .cameras, .tags {
    display: flex;
    flex-wrap: wrap;
}

.users > div, .cameras > div, .tags > div {
    margin-right: 0.2em;
    margin-bottom: 0.1em;
    padding: 0.1em;
    white-space: nowrap;
    overflow: hidden;
}

.users > div.selected, .cameras > div.selected, .tags > div.selected {
    background-color: var(--accent-color);
    color: white;
    border-radius: 5px;
}

.users > div:hover, .cameras > div:hover, .tags > div:hover {
    cursor: pointer;
}

/* Links */

.links a {
    color: var(--light-color);
    text-decoration: none;
}

.links a:hover {
    color: var(--accent-color);
}

/* Page content */

#main .page-content {
    flex: 1;
    padding: 0.5em;
    height: auto;
    overflow: auto;
}

#main .page-content section {
    padding-bottom: 1.5em;
}

#main .date-separator {
    font-size: small;
    color: var(--dark-color);
    padding-bottom: 0.5em;
}

#main .show-more {
    text-align: center;
    margin: 1em;
}

#main .show-more > span {
    background-color: var(--dark-color);
    color: var(--light-color);
    padding: 0.4em 2em;
    border-radius: 1em;
}

#main .show-more > span:hover {
    cursor: pointer;
}

/* Thumbnails */

img.thumbnail {
    border: 4px transparent solid;
}

img.thumbnail:hover {
    border: 4px var(--accent-color) solid;
    cursor: pointer;
}

/* View page */

#view {
    margin: 0;
    background-color: var(--dark-color);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.click-to-select {
    -webkit-user-select: all;
    -moz-user-select: all;
}

/* Filmstrip */

#view nav {
    display: flex;
    justify-content: center;
    padding: 0.2em;
    background-color: white;
}

#view nav div {
    margin: 4px;
    font-size: 36px;
    color: var(--dark-color);
    width: 1em;
    text-align: center;
}

#view nav div i {
    position: relative;
    top: 50%;
    transform: translateY(-60%);
}

#view nav div:hover {
    color: var(--accent-color);
    cursor: pointer;
}

/* Photo */

#view .container {
    flex: 1;
    margin: 5px;
}

#view .photo {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    height: 100%;
}

#view .photo div {
    display: inline-block;
    color: var(--light-color);
    font-size: 3.5em;
    padding-top: 40%;
    vertical-align: middle;
}

#view .photo div:hover {
    color: var(--accent-color);
    cursor: pointer;
}

#view .photo .prev {
    flex: 1 1 auto;
    text-align: left;
    padding-left: 10px;
}

#view .photo .zoom {
    flex: 5 1 auto;
}

#view .photo .next {
    flex: 1 1 auto;
    text-align: right;
    padding-right: 10px;
}

#view .description {
    text-align: center;
    font-size: 2em;
    margin-top: -4em;
    line-height: 4em;
}

#view .description span {
    color: white;
    background-color: #222;
    padding: 0.2em 0.4em;
    opacity: 0.6;
}

#view .description > input {
    font-size: 1em;
    text-align: center;
}

/* Options */

#view .options {
    color: var(--light-color);
    display: flex;
}

#view .options > div {
    font-size: 1.4em;
    padding: 0 0.3em;
}

#view .options > div:hover {
    color: var(--accent-color);
    cursor: pointer;
}

#view .options > div > i {
    font-size: 1.4em;
}

#view .options > div > span {
    font-size: 1.1em;
    line-height: 1.4em;
}

#view .options .spacer {
    flex: 1;
}

#view .options .spacer:hover {
    cursor: initial;
}

#view .description:hover {
    cursor: pointer;
}

#view .metainfo {
    position: absolute;
    top: 0;
    bottom: 0;
    overflow: auto;
    margin: 0;
    padding: 1em;
    background-color: var(--dark-color);
    color: var(--light-color);
    display: flex;
    flex-direction: column;
    border-right: medium solid var(--accent-color);
}

#view .metainfo tr td:first-child {
    font-weight: bold;
    padding-right: 1em;
}

/* Settings page */

#settings {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
}

#settings p, #removed p {
    font-family: Raleway;
}

#settings nav {
    background-color: var(--dark-color);
    color: var(--light-color);
}

#settings nav ul {
    list-style-type: none;
    padding: 0;
    margin: 1em 0;
}

#settings nav li {
    padding: 0.2em 2em 0.2em 1em;
}

#settings nav li.selected {
    color: white;
    background-color: var(--accent-color);
}

#settings nav li:hover {
    cursor: pointer;
    background-color: var(--accent-color);
}

#settings nav .back {
    margin: 1em;
}

#settings .container {
    margin: 0 1em;
}

#settings .location input:nth-child(1) {
    width: 30em;
}

#settings .location input:nth-child(2) {
    width: 8em;
}

#settings .location {
    padding-bottom: 0.5em;
}

#settings input[type=number] {
    width: 5em;
}

#settings form > div {
    padding-bottom: 1.5em;
}

#settings form > div:last-child {
    margin-top: 1em;
}

/* Removed page */

#removed h1 {
    margin-bottom: 0;
}

#removed .back-container {
    vertical-align: bottom;
    padding-bottom: 5px;
    padding-left: 1em;
}

#removed .container {
    display: flex;
    flex-wrap: wrap;
}

#removed .photo {
    margin-bottom: 0.5em;
    padding-right: 1em;
}

#removed .photo:hover {
    background-color: var(--light-color);
}

#removed img.thumbnail {
    margin: 2px 0 -2px 0;
}