
/* Fonts */

@font-face {
    font-family: Lato;
    src: url("/static/Lato/Lato-Regular.ttf") format("opentype");
}

@font-face {
    font-family: Raleway;
    src: url("/static/Raleway/Raleway-Regular.ttf") format("opentype");
}

/* Variables */

body {
    --dark-color: #444;
    --light-color: lightgray;
    --accent-color: royalblue;
    font-family: Lato;
}

/* Main page */

#main {
    margin: 0;
}

.main-container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

/* Sidebar */

.sidebar {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    width: 200px;
    background-color: var(--dark-color);
    color: var(--light-color);
}

/* Dates */

.dates {
    flex: 3;
    height: auto;
    overflow: auto;
}

.dates ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dates ul ul {
    margin-top: 0.3em;
    padding-bottom: 0.2em;
}

.dates li {
    padding-left: 1em;
    margin-bottom: 0.3em;
}

.dates li.expanded:before {
    content: "\f107";
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1em;
    width: 1em;
}

.dates li.expanded ul {
    display: list-item;
}

.dates li.collapsed:before {
    content: "\f105";
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1em;
    width: 1em;
}

.dates li.collapsed ul {
    display: none;
}

.dates li a {
    color: var(--light-color);
    text-decoration: none;
}

/* Filters */

.filters {
    flex: 2;
    height: auto;
    overflow: auto;
    padding-bottom: 1.5em;
}

.filters .header {
    padding-top: 0.8em;
    padding-bottom: 0.2em;
    font-size: smaller;
    font-weight: bold;
}

.users, .cameras, .tags {
    display: flex;
    flex-wrap: wrap;
}

.users > div, .cameras > div, .tags > div {
    margin-right: 0.2em;
    margin-bottom: 0.1em;
    padding: 0.1em;
    white-space: nowrap;
    overflow: hidden;
}

.users > div.selected, .cameras > div.selected, .tags > div.selected {
    background-color: var(--accent-color);
    color: var(--light-color);
    border-radius: 5px;
}

.users > div:hover, .cameras > div:hover, .tags > div:hover {
    cursor: pointer;
}

/* Links */

.links a {
    color: var(--light-color);
    text-decoration: none;
}

/* Page content */

#main .page-content {
    flex: 1;
    padding: 0.5em;
    height: auto;
    overflow: auto;
}

#main .page-content section {
    padding-bottom: 1.5em;
}

#main .date-separator {
    font-size: small;
    color: var(--dark-color);
    padding-bottom: 0.5em;
}

#main .show-more {
    text-align: center;
    margin: 1em;
}

#main .show-more > span {
    background-color: var(--dark-color);
    color: var(--light-color);
    padding: 0.4em 2em;
    border-radius: 1em;
}

#main .show-more > span:hover {
    cursor: pointer;
}

/* Thumbnails */

img.thumbnail {
    border: 4px transparent solid;
}

img.thumbnail:hover {
    border: 4px var(--light-color) solid;
    cursor: pointer;
}

/* View page */

#view {
    margin: 0;
    background-color: var(--dark-color);
}

/* Filmstrip */

#view nav {
    display: flex;
    justify-content: center;
    padding: 0.5em;
    background-color: white;
}

#view nav div {
    margin: 4px;
    font-size: 36px;
    color: var(--dark-color);
    width: 1em;
    text-align: center;
}

#view nav div i {
    position: relative;
    top: 50%;
    transform: translateY(-60%);
}

#view nav div:hover {
    color: var(--light-color);
    cursor: pointer;
}

#view .container {
    margin: 5px;
}

#view .photo {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
    width: calc(100vw - 10px);
    height: calc(100vh - 150px);
    display: flex;
}

#view .photo div {
    color: transparent;
}

#view .photo div:hover {
    display: inline-block;
    color: var(--light-color);
    font-size: 80px;
    cursor: pointer;
    height: 40%;
    padding-top: 40%;
    vertical-align: middle;
}

#view .photo .prev {
    flex: 1 1 auto;
    text-align: left;
    padding-left: 10px;
}

#view .photo .zoom {
    flex: 3 1 auto;
}

#view .photo .next {
    flex: 1 1 auto;
    text-align: right;
    padding-right: 10px;
}

#view .description {
    text-align: center;
    font-size: 2em;
    color: var(--light-color);
    margin-top: -4em;
    line-height: 4em;
}

#view .description > input {
    font-size: 1em;
    text-align: center;
}

#view .date {
    margin-left: 0.3em;
    margin-top: -0.3em;
    font-size: 2em;
    color: var(--light-color);
}

#view .description:hover, #view .date:hover {
    cursor: pointer;
}

#view .metainfo {
    position: absolute;
    top: 0;
    bottom: 0;
    overflow: auto;
    margin: 0;
    padding: 1em;
    background-color: var(--dark-color);
    color: var(--light-color);
    display: flex;
    flex-direction: column;
    border-right: medium solid var(--light-color);
}

#view .metainfo tr td:first-child {
    font-weight: bold;
    padding-right: 1em;
}

/* Config page */

#config {
    margin: 0;
    width: 100vw;
    background-color: var(--dark-color);
}

#config p {
    font-family: Raleway;
}

#config > div {
    position: absolute;
    left: 30%;
    width: 70%;
    height: 100%;
    background-color: white;
}

#config form {
    padding-top: 2em;
}

#config form > div, #config > div > div {
    margin-left: 1em;
}

#config .location input:nth-child(1) {
    width: 30em;
}

#config .location input:nth-child(2) {
    width: 8em;
}

#config .location {
    padding-bottom: 0.5em;
}

#config input[type=number] {
    width: 5em;
}

#config form > div {
    padding-bottom: 1.5em;
}

#config form > div:last-child {
    margin-top: 1em;
}