
/* Main page */

#main {
    display: flex;
}

/* Sidebar */

.sidebar {
    width: 200px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar ul ul {
    margin-top: 0.3em;
    padding-bottom: 0.2em;
}

.sidebar li {
    padding-left: 1em;
    margin-bottom: 0.3em;
}

.sidebar li.expanded:before {
    content: "\f107";
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1em;
    width: 1em;
}

.sidebar li.expanded ul {
    display: list-item;
}

.sidebar li.collapsed:before {
    content: "\f105";
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1em;
    width: 1em;
}

.sidebar li.collapsed ul {
    display: none;
}

/* Page content */

#main .page-content section {
    padding-bottom: 1.5em;
}

.date-separator {
    font-size: small;
    color: gray;
    padding-bottom: 0.5em;
}

/* Thumbnails */

img.thumbnail {
    border: 4px transparent solid;
}

img.thumbnail:hover {
    border: 4px lightgray solid;
    cursor: pointer;
}

/* View page */

#view {
    margin: 0;
    background-color: #444;
}

/* Filmstrip */

#view nav {
    display: flex;
    height: 100px;
    padding: 20px;
    background-color: white;
}

#view nav div {
    display: inline-block;
    padding-top: 25%;
    padding-bottom: 25%;
    margin-top: 5px;
    font-size: 36px;
    line-height: 50px;
    color: #444;
    width: 50px;
    height: 50%;
    text-align: center;
    vertical-align: middle;
}

#view .container {
    margin: 5px;
}

#view .photo {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
    width: calc(100vw - 10px);
    height: calc(100vh - 150px);
}

