<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/zucasa.css">
    <title>Zucasa</title>
  </head>
  <body id="config">
    <div>
      <form action="config" method="post">
	<div>
	  <h1>Locations</h1>
	  <p>Where to load photos from disk.</p>
	  <div class="locations">
	    {% for location in config.locations.keys() %}
	    <div class="location">
	      <input type="text" title="Absolute path on disk" name="location{{ loop.index }}" value="{{ location }}">
	      <input type="text" title="Username. Use 'public' for shared photos." name="user{{ loop.index }}" value="{{ config.locations[location] }}">
	      <input type="button" class="remove" value="Remove">
	    </div>
	    {% endfor %}
	  </div>
	  <input type="button" class="add" value="Add">
	</div>
	<div>
	  <h1>Thumbnail size</h1>
	  <p>Height of thumbnails.</p>
	  <input type="number" name="size" value="{{ config.size }}"> <span>px</span>
	</div>
	<div>
	  <p>Import replaces all current photos in memory and thumbnails on disk.</p>
	  <input type="submit" class="import" value="Import">
	</div>
      </form>
      <form action="settings" method="post">
	<div>
	  <h1>Page break</h1>
	  <p>How much to display at a time.</p>
	  <input type="number" name="limit" value="{{ config.limit }}"> <span>photos</span>
	</div>
	<div>
	  <p>Clicking save does not result in new import.</p>
	  <input type="submit" class="save" value="Save">
	</div>
      </form>
      <div>
	<p>Click back to return to front page.</p>
	<input type="button" class="back" value="Back">
      </div>
    </div>
    <script type="text/javascript" src="/static/zepto.min.js"></script>
    <script type="text/javascript" src="/static/zucasa.js"></script>
  </body>
</html>
