<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/zucasa.css">
    <title>Zucasa</title>
  </head>
  <body id="main">
    <nav class="sidebar">
      <ul>
      {% for year in years.keys() %}
	<li class="expanded">
	  <a href="#">{{ year }}</a>
	  <ul>
	  {% for month in years[year].keys() %}
	    <li class="collapsed">
	      <a href="#">{{ month }}</a>
	      <ul>
	      {% for day in years[year][month].keys() %}
	        <li class="collapsed">
		  <a href="#">{{ day }}</a>
		</li>
              {% endfor %}
	      </ul>
	    </li>
	  {% endfor %}
          </ul>  
	</li>
      {% endfor %}
      </ul>
    </nav>
    <div class="page-content">
    {% for year in years.keys() %}
      {% for month in years[year].keys() %}
        {% for day in years[year][month].keys() %}
      <section>
	<div class="date-separator">{{ picture_date(year, month, day) }}</div>
	{% for photo in years[year][month][day] %}
	  <img src="static/import/{{ user }}/{{ year }}/{{ month}}/{{ day }}/{{ photo }}">
        {% endfor %}
      </section>
        {% endfor %}
      {% endfor %}
    {% endfor %}
    </div>
    <script type="text/javascript" src="static/main.js"></script>
  </body>
</html>
