<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/zucasa.css">
    <title>Zucasa</title>
  </head>
  <body id="main">
    <div class="main-container">
      <nav class="sidebar">
	<div class="dates">
	  <ul>
	    {% for year in sort_desc(dated.keys()) %}
	    <li class="expanded">
	      <a href="#{{ year }}">{{ year }}</a>
	      <ul>
		{% for month in sort_asc(dated[year].keys()) %}
		<li class="collapsed">
	          <a href="#{{ year }}{{ month }}">{{ month_name(month) }}</a>
	          <ul>
	            {% for day in sort_asc(dated[year][month].keys()) %}
	            <li class="collapsed">
		      <a href="#{{ year }}{{ month }}{{ day }}">{{ day }}</a>
		    </li>
                    {% endfor %}
	          </ul>
		</li>
		{% endfor %}
              </ul>
	    </li>
            {% endfor %}
	  </ul>
	</div>
	<div class="links">
	  <a href="/settings"><i class="fa fa-cog"></i> Settings</a>
	</div>
      </nav>
      <div class="page-content">
	{% if has_newer %}
	<div class="show-more"><span>Show newer</span></div>
	{% endif %}
	{% for year in sort_desc(limited.keys()) %}
	{% for month in sort_desc(limited[year].keys()) %}
        {% for day in sort_desc(limited[year][month].keys()) %}
	<section id="{{ year }}{{ month }}{{ day }}">
	  <div class="date-separator">{{ picture_date(year, month, day) }}</div>
	  {% for photo in limited[year][month][day] %}
	  <img class="thumbnail" src="{{ relative_path(photo.thumbnail) }}">
          {% endfor %}
	</section>
        {% endfor %}
	{% endfor %}
	{% endfor %}
	{% if has_older %}
	<div class="show-more"><span>Show older</span></div>
	{% endif %}
      </div>
      <nav class="sidebar">
	<div class="filters">
	  <div class="header">Users</div>
	  <div class="users">
	    {% for user in sort_asc(users.keys()) %}
	    <div{% if users[user] == True %} class="selected"{% endif %}>{{ user }}</div>
	    {% endfor %}
	  </div>
	  <div class="header">Tags</div>
	  <div class="tags">
	    {% for tag in sort_asc(tags.keys()) %}
	    <div{% if tags[tag] == True %} class="selected"{% endif %}>{{ tag }}</div>
	    {% endfor %}
	  </div>
	  <div class="header">Cameras</div>
	  <div class="cameras">
	    {% for camera in sort_asc(cameras.keys()) %}
	    <div{% if cameras[camera] == True %} class="selected"{% endif %}>{{ camera }}</div>
	    {% endfor %}
	  </div>
	</div>
      </nav>
    </div>
    <script type="text/javascript" src="/static/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/static/zucasa.js"></script>
  </body>
</html>
