<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/zucasa.css">
    <title>Zucasa</title>
  </head>
  <body id="progress">
    <div>
      <h1>Importing...</h1>
      <ul></ul>
      <div>
	<input type="button" class="continue" value="Continue">
      </div>
    </div>
    <script type="text/javascript" src="/static/zepto.min.js"></script>
    <script type="text/javascript" src="/static/zucasa.js"></script>
    <script type="text/javascript">
      startProgressTimer();
    </script>
  </body>
</html>
