<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/static/images/favicon.ico">
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/zucasa.css">
    <title>Zucasa</title>
  </head>
  <body id="settings">
    <nav>
      <ul>
	<li class="import selected" title="Load photos into gallery">Import</li>
	<li class="prefs">Preferences</li>
	<li class="removed" title="Photos removed from gallery">Removed</li>
	<li class="tags">Tags</li>
      </ul>
      <input type="button" class="back" value="Back">
    </nav>
    <div class="container">
      <form class="import" action="import" method="post">
	<div>
	  <h1>Locations</h1>
	  <p>Where to load photos from disk.</p>
	  <div class="locations">
	    {% for location in config.locations.keys() %}
	    <div class="location">
	      <input type="text" placeholder="Path" title="Absolute path on disk" name="location{{ loop.index }}" value="{{ location }}" placeholder="Path">
	      <input type="text" placeholder="User" title="Username. Use 'public' for shared photos." name="user{{ loop.index }}" value="{{ config.locations[location] }}">
	      <input type="button" class="remove" value="Remove">
	    </div>
	    {% endfor %}
	  </div>
	  <input type="button" class="add" value="Add">
	</div>
	<div>
	  <h1>Thumbnail size</h1>
	  <p>Height of thumbnails.</p>
	  <input type="number" name="size" value="{{ config.size }}"> <span>px</span>
	</div>
	<div>
	  <p>Import replaces all current photos in memory and thumbnails on disk.</p>
	  <input type="submit" class="import" value="Import">
	</div>
      </form>
      <form class="prefs" action="prefs" method="post" hidden>
	<div>
	  <h1>Page break</h1>
	  <p>How much to display at a time.</p>
	  <input type="number" name="limit" value="{{ config.limit }}"> <span>photos</span>
	</div>
	<div>
	  <input type="submit" class="save" value="Save">
	</div>
      </form>
    </div>
    <script type="text/javascript" src="/static/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/static/zucasa.js"></script>
  </body>
</html>
