<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/static/images/favicon.ico">
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/zucasa.css">
    <title>Zucasa</title>
  </head>
  <body id="view">
    <div class="sidebar metainfo" style="display: none;"></div>
    <div class="main">
      <nav class="filmstrip">
	<div class="back3"><i class="fa fa-chevron-left"></i></div>
	{% for uuid, thumbnail in thumbnails %}
	<img class="thumbnail" id="{{ uuid }}" src="/{{ relative_path(thumbnail) }}">
	{% endfor %}
	<div class="forward3"><i class="fa fa-chevron-right"></i></div>
	<div class="close"><i class="fa fa-reply"></i></div>
      </nav>
      <div class="container">
	<div class="photo" id="{{ photo.uuid }}" style="background-image: url('/{{ relative_path(photo.preview) }}');">
	  <div class="prev">
	    <i class="fa fa-chevron-left"></i>
	  </div>
	  <div class="zoom"></div>
	  <div class="next">
	    <i class="fa fa-chevron-right"></i>
	  </div>
	</div>
	<div class="description" title="Edit description">
	  {% if photo.description %}<span>{{ photo.description }}</span>{% endif %}
	</div>
      </div>
      <div class="options">
	<div class="date" title="Show metainfo">
	  <span>{{ nice_date(photo.created) }}</span>
	</div>
	<div class="tags-icon" title="Show tags">
	  <i class="fa fa-tags"></i>
	  {% if photo.tags %}
	  <div>{{ list_tags(photo.tags) }}</div>
	  {% endif %}
	</div>
	<div class="star" title="Add/remove star">
	  <i class="fa {% if photo.starred %}fa-star{% else %}fa-star-o{% endif %}"></i>
	</div>
	<div class="edit-description" title="Edit description">
	  <i class="fa {% if photo.description %}fa-commenting{% else %}fa-comment-o{% endif %}"></i>
	</div>
	<div class="rotate-left" title="Rotate left">
	  <i class="fa fa-rotate-left"></i>
	</div>
	<div class="rotate-right" title="Rotate right">
	  <i class="fa fa-rotate-right"></i>
	</div>
	<div class="spacer"></div>
	<div class="remove" title="Remove photo"><i class="fa fa-trash"></i></div>
      </div>
    </div>
    <div class="sidebar tags" style="display: none;"></div>
    <script type="text/javascript" src="/static/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/static/zucasa.js"></script>
  </body>
</html>
